.App {
}

.board {
  /* basic styling */
  background-color: #0e0e0e; /* black board*/
  width: 700px;
  height: 100%;
  border: 1px solid #555;
  font-family: Avantgarde, sans-serif; /* Looks like it matches image but not found on mine. */
  color: #ffffa6; /* yellow text */

  /* flexbox setup */
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.board_title {
   font-size: 2.5em;
   color: #9f9a9e;
}

.board_detail  {
   padding: 10px;
   font-size: 1.5em;
}

.board_info {
   display: flex;
   justify-content: center;
}

th {
   color: #9f9a9e;
}

